<!doctype html>
<!--[if lt IE 7 ]> <html lang="zh-cn" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-cn" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-cn" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-cn"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %} 格子铺子 {% endblock title %}</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/static/css/style.css?v=2">
  <link rel="stylesheet" href="/static/css/main.css?v=2">
  <script src="/static/js/libs/modernizr-1.7.min.js"></script>
  {% block static %}
  {% endblock static %}
</head>

<body id="mainBd">

  <div id="container">
    <header id="header">
       <div class="container">
			<h1><a class="png_bg" href="/">GeekPark</a></h1>
			<nav class="global">
				<div class="city">
					<a class="on">北京</a>
					<div class="list">
						<a href="#">上海</a><a href="#">广州</a><a href="#">天津</a><a href="#">上海</a><a href="#">广州</a><a href="#">天津</a><a href="#">上海</a><a href="#">广州</a><a href="#">天津</a>
					</div>
				</div>
				<ul>
					<li class="on">
						<a href="/read/seed" title="服装">服装</a>
					</li>
					<li >
						<a href="/cast/" title="3C产品">3C产品</a>
					</li>
				
					<li >
						<a href="/event/" title="茶叶">茶叶</a>
					</li>
					<li >
						<a href="/event/" title="美发造型">美发造型</a>
					</li>
					<li >
						<a href="/event/" title="更多">更多</a>
					</li>
					
				  
				</ul>
			</nav>
			<div id="searchbox">
				<form id="search-form" name="global-search" action="/search/all" method="post">
					<input type="search" id="search" name="search" placeholder="搜索" autocomplete="off" class="ac_input">
					<input type="submit" class="submit" value="">
				</form>
			</div>
			<div class="tool-box">
				<ul>
							<li class="first">
						<a href="/user/login" title="登录">登录</a>
					</li><li>
						<a href="/user/register" title="注册">注册</a>
					</li>
						</ul>
			</div>
			<div id="ajaxing" style="display: none;"></div>
		</div>
		
    </header>
   
	{% block content%}
		content here
	{% endblock content %}	
    <!-- container end-->

	
	

    <footer>
	{% block footer %}
	{% endblock %}
    </footer>
  </div> <!--! end of #container -->
  <div id="scrollTop" >
		<div class="level-2"></div>
		<div class="level-3"></div>
  </div>

  <!-- JavaScript at the bottom for fast page loading -->



  <!-- scripts concatenated and minified via ant build script-->
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/jquery-1.6.1.min.js"></script>
  <script src="/static/js/jquery.isotope.min.js"></script>
   <script src="/static/js/jquery.infinitescroll.min.js"></script>
  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix(".back-png,.img-png"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  <script>
	  $(function(){
		  var $container = $('#main');
		  $container.isotope({
				itemSelector : '.element_test',
				masonry : {
				  columnWidth : 247
				}
		  });
		  var infinite_load = function(){
			var w_h = $(window).height();
			var d_h = $(document).height();
			var limit = 50; 
			if($(document).scrollTop() >= 100){
				$("#scrollTop").fadeIn();
			}else{
				$("#scrollTop").fadeOut();
			}
			if( w_h + $(document).scrollTop() + limit >=  d_h){
				  
				  $container.append($(".addItem")).isotope( 'appended', $(".addItem"));
			}
		};
		$(window).scroll(infinite_load)
			$("#scrollTop").click(function(){
				$("#scrollTop").hide();
				$('html,body').animate({scrollTop: '0px'}, 300);
				return false;			
			})		
			$("#scrollTop").hover(
				function(){
					$(".level-2").animate({opacity: '1.0'},100);
				},
				function(){
					$(".level-2").animate({opacity: '0.0'},100);
				}
			)
	  })
	
	/*var new_data = eval('('+response+')');*/
  </script>
</body>
</html>
