{% for item in items%}
	<div class="element_test other nonmetal addItem   " data-symbol="H" data-category="other">
			  <a href="#" target="_self" class="img  x">
				 <img class="_j_thumnail" width="207" height="256" src="http://jpp2.imghb.com/pic/pic/77/57/33/1389728877573379_a200x400.jpeg" alt="">
			  </a>
			  <div class="convo attribution clearfix"><p><a href="/axsash123/" title="我生活在玛丽隔壁" class="img x">
			  <img src="http://img.hb.aicdn.com/f9638f42128c7d7e0c6bd1d51355b4ddf61c8c5ef3b-d5dQIi_sq75"></a><a href="/axsash123/" class="author x">我生活在玛丽隔壁</a>&nbsp;采集到&nbsp;<a href="/boards/1464529/" class="x">想要</a></p><a title="回复" class="replyButton"></a>
			  </div>
			  <div class="actions"><div class="right"><a data-id="12245414" href="#" onclick="return false;" class="like btn btn11 wbtn"><strong><em></em>喜欢</strong><span></span></a></div><div class="left"></div></div>		  
		</div>
{% endfor %}
